body{
    background-color: darkgray;

    background: #D0E4F5 url("") no-repeat scroll 100% 0%;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    width: 1000;
    
}
.navbar a {
    float: left;
    display: block;
    color: #D0E4F5;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
    font-size: 40px;
}

.navbar a:hover{
    background: #ddd;
    color:black;
}

div{
    background: #224157;
    background: -moz-linear-gradient(left, #1e435c 0%, #772ACB 51%, #144E75 100%);
    background: -webkit-linear-gradient(left, #1d435c 0%, #534463 51%, #144E75 100%);
    background: linear-gradient(to right, #1C6EA4 0%, #772ACB 51%, #144E75 100%);
    


}

h1{
    margin-top: 100px;
    margin-bottom: 10px;
    color: #D0E4F5;
}


footer{
    background: #0E152A no-repeat scroll 50% 100% ;
    background: -moz-linear-gradient(left, #0E152A 0%, #3B1565 51%, #144E75 100%);
    background: -webkit-linear-gradient(left, #0E152A 0%, #3B1565 51%, #144E75 100%);
    background: linear-gradient(to right, #0E152A 0%, #3B1565 51%, #144E75 100%);
    color: aliceblue;
    
    
}