
* {box-sizing: border-box;}

body { 
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background: linear-gradient(#bdc3c7,#151617);
  padding: 20px 10px;
  position: center;
  background-size: contain;
  background-position: 50% 0;
}

.bg-img{
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-color: #ddd;
  background-size: cover;
  
}
.header a {
  float: left;
  color: rgba(255, 255, 255, 0.792);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(246, 5, 5);
  color: rgb(255, 255, 255);
}

.header a.active {
  background-color: rgb(161, 133, 133);
  color: rgb(193, 15, 15);
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

blockquote {
  font-size: 12px;
  margin: 0;
  width: 300px;
  right: 20px;  
}

blockquote p {
  padding: 15px;  
  border-radius: 5px;
  background: linear-gradient(#bdc3c7,#151617);
  text-align: center;
  font-weight: bold;
}

blockquote p::before {
  content: '\201D';
}

blockquote p::after {
  content: '\201D';
}


#ironmansvg{
  position: absolute;
  left: 300px;
}
#thorsvg{
  position: absolute;
  left: 600px;
}
#hulksvg{
  position: absolute;
  left: 900px;
}

#thanossvg{
  position: absolute;
  right: 900px;
}
#hawkeyesvg{
  position: absolute;
  right: 600px;
}
#captainsvg{
 position: absolute;
 right: 300px;
}

blockquote:hover:after,blockquote:hover:before 
{  
  background-color: rgb(218, 25, 25); 
  transition: all 350ms;  
  -o-transition: all 350ms;  
  -moz-transition: all 350ms;  
  -webkit-transition: all 350ms; 
}  



.thor{
  position: absolute;
  top:400px;
  right:20px;
  width: 300px;
  
}
.iron{
  position:absolute;
  top:500px;
  right:20px;
  width: 200px;  
  
}
.hulk{  
  position:absolute;
  top:600px;
  right: 20px;  
  width: 200px;
}
.thanos{
  position:absolute;
  top:300px;
  right:20px;  
}

.hawkeye{  
  position:absolute;
  top:700px;
  right:20px;
  width: 300px;
}
.captain{  
  position:absolute;
  top:800px;
  right:20px;
  width: 500px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  background :linear-gradient(#bdc3c7,#151617);
  padding: 10px;

}

.quote figcaption,.quote blackquote{
  margin: 1em;
}

.footer {
  background: rgb(67,67,67);
  background: linear-gradient(0deg, rgba(67,67,67,1) 0%, rgba(255,255,255,1) 55%);
}